body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

header {
    text-align: center; /* Centrer le texte */
    padding: 1em 0;
}

header h1{
    font-size: 48px;
    font-weight: 900;
    color: #000;
}

header p{
    font-size: 28px;
    font-weight: bold;
    color: #000;
}

header, footer {
    background-color: transparent;
    color: #fff;
}

#profile-image {
    width: 128px; /* ajustez la taille de l'image selon vos besoins */
    height: 128px;
    margin: 20px auto; /* centrer l'image horizontalement et ajouter un espace en haut */
    overflow: hidden; /* pour cacher les parties de l'image qui dépassent du cadre du cercle */
    border-radius: 50%; /* pour créer une forme de cercle */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Ajoute une ombre à la bordure */
}

#profile-image img {
    width: 100%; /* pour que l'image remplisse le cercle */
    height: auto;
    border-radius: 50%; /* pour garantir que l'image reste un cercle même si elle n'est pas parfaitement carrée */
    object-fit: cover; /* pour conserver les proportions de l'image */
}

#button-container {
    display: flex; /* Utiliser Flexbox pour aligner les boutons horizontalement */
    justify-content: space-between; /* Espacement égal entre les boutons et l'iframe */
    align-items: flex-start; /* Aligner les éléments en haut */
    padding: 0 20px; /* Ajouter un peu d'espace sur les côtés */
}

.button {
    display: block;
    margin: 1em 0; /* Marge en haut et en bas pour les boutons */
    padding: 1em;
    font-size: 28px;
    width: calc(50% - 20px); /* Largeur des boutons */
    height: 75px;
    cursor: pointer;
    text-align: center center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

#ytb-latestvod.button,
#ytb-latestbestof.button,
#ytb-vod.button,
#ytb-bestof.button,
#kofi.button,
#discord.button,
#instagram.button,
#threads.button {
    width: calc(50% - 20px); /* Ajuste la largeur des boutons */
}

#iframe-container {
    width: calc(50% - 20px); /* Largeur de l'iframe */
    padding-left: 20px; /* Espacement à gauche */
}

#iframe-container iframe {
    width: 100%; /* Largeur pleine */
    height: 712px; /* Hauteur de l'iframe */
    border: none; /* Suppression de la bordure */
    padding: 0; /* Suppression des rembourrages */
}

footer {
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}

footer p{
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

@media only screen and (max-width: 768px) {
    #profile-image {
        width: 80px;
        height: 80px;
    }

    .button {
        width: 100%;
    }

    #button-container {
        flex-direction: column; /* Mettre les boutons et l'iframe en colonnes sur les petits écrans */
        align-items: center; /* Centrer les éléments sur les petits écrans */
    }

    #iframe-container {
        width: 100%; /* L'iframe prend toute la largeur sur les petits écrans */
        padding-left: 0; /* Supprimer l'espacement à gauche sur les petits écrans */
    }
}
