@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

header {
    text-align: center;
    padding: 1em 0;
}

header h1{
    font-size: 48px;
    font-weight: 900;
    color: #000;
}

header p{
    font-size: 28px;
    font-weight: bold;
    color: #000;
}

header, footer {
    background-color: transparent;
    color: #fff;
}

#profile-image {
    width: 128px; /* ajustez la taille de l'image selon vos besoins */
    height: 128px;
    margin: 20px auto; /* centrer l'image horizontalement et ajouter un espace en haut */
    overflow: hidden; /* pour cacher les parties de l'image qui dépassent du cadre du cercle */
    border-radius: 50%; /* pour créer une forme de cercle */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Ajoute une ombre à la bordure */

}

#profile-image img {
    width: 100%; /* pour que l'image remplisse le cercle */
    height: auto;
    border-radius: 50%; /* pour garantir que l'image reste un cercle même si elle n'est pas parfaitement carrée */
    object-fit: cover; /* pour conserver les proportions de l'image */
}

section {
    text-align: center;
    padding: 2em;
}

iframe{
  border-radius: 15px;
  margin-top: 50%;
}
.container{
    display: flex;
    justify-content: center; /* Pour aligner horizontalement */
}

.button {
    vertical-align:middle;
    display: block;
    margin: 1em auto;
    padding: 1em;
    font-size: 28px;
    width: 350px;
    height: 75px;
    cursor: pointer;
    text-align: center center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

#twitch,
#ytb-latestvod.button,
#ytb-latestbestof.button,
#ytb-vod.button,
#ytb-bestof.button,
#kofi.button,
#discord.button,
#instagram.button,
#threads.button {
    width: 65%; /* Ajuste la largeur pour occuper la largeur disponible */
}

#twitch,
#ytb-latestvod.button,
#ytb-latestbestof.button,
#ytb-vod.button,
#ytb-bestof.button,
#kofi.button,
#discord.button,
#instagram.button,
#threads.button {
    height: auto; /* Ajuste la hauteur automatiquement */
}

#twitch,
#ytb-latestvod.button,
#ytb-latestbestof.button,
#ytb-vod.button,
#kofi.button,
#ytb-bestof.button,
#discord.button,
#instagram.button,
#threads.button {
    font-size: 24px; /* Ajuste la taille de la police pour des écrans plus petits */
}

#twitch,
#ytb-latestvod.button,
#ytb-latestbestof.button,
#ytb-vod.button,
#ytb-bestof.button,
#kofi.button,
#discord.button,
#instagram.button,
#threads.button{
    margin: 1em auto;
}

#twitch{
    background-color: #a642ff;
}

#ytb-vod.button,
#ytb-bestof.button{
    background-color: #FF0000; /* Couleur de fond pour le bouton La chaîne VOD/LIVE */
}

#ytb-latestbestof.button{
    background-color: #4c66fb;
}

#ytb-latestvod.button{
    background-color: #5747cf;
}

#kofi.button{
    background-color: #46abe0;
}

#discord.button{
    background-color: #5865f2;
}

#instagram.button {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #fff;
}

#threads.button {
    background-color: #000; /* Couleur de fond pour le bouton La chaîne BEST-OF */
}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

footer {
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}

footer p{
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

@media only screen and (max-width: 768px) {
    #profile-image {
        width: 80px;
        height: 80px;
    }

    .button {
        width: 80%;
    }
}
